<section class="form-container">
  <h2>Create Recipe</h2>
  <form method="post">
    <label for="title">Recipe Title:</label>
    <input type="text" id="title" name="title" {{#if title}} value="{{title}}" {{/if}}/>

    <label for="description">Description:</label>
    <textarea id="description" name="description">{{#if description}} {{description}} {{/if}}</textarea>

    <label for="ingredients">Ingredients:</label>
    <textarea id="ingredients" name="ingredients">{{#if ingredients}} {{ingredients}} {{/if}}</textarea>

    <label for="instructions">Instructions:</label>
    <textarea id="instructions" name="instructions">{{#if instructions}} {{instructions}} {{/if}}</textarea>

    <label for="image">Image URL:</label>
    <input type="url" id="image" name="image" {{#if image}} value="{{image}}" {{/if}}/>

    <button type="submit">Create Recipe</button>
  </form>
</section>